/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}


.profile {
    font-size: 2em;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-template-rows: 70% 15% 15%;
    grid-gap: 5px;
    grid-template-areas:
      "image stats stats"
      "bio bio bio"
      "settings settings settings";

    
  }
  
  .profile-image {
    grid-area: image;
    
  }

  .profile-image img {
    height: 75%;
    border-radius: 50%; /* Apply a circular border */
    object-fit: cover;
    border: 2px solid black; /* Add a solid black border */
  }
  

  .profile-stats {
    grid-area: stats;
  }

  .profile-bio {
    grid-area: bio;
  }

  .profile-user-settings {
    grid-area: settings;
  }

  /* profile-image
     profile-user-settings
     profile-stats
     profile-bio
    */