/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #e0e0e0;
    color: #262626;
    padding-bottom: 3rem;
    margin: 10px;
}

img {
    display: block;
}


.profile {
    font-size: 2em;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70% 15% 15%;
    grid-gap: 5px;
    grid-template-areas:
      "image stats stats"
      "bio bio bio"
      "settings settings settings";
    align-items: center;

    
  }
  
  .profile-image {
    grid-area: image;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    
  }

  .profile-image img {
    height: 70%;
    border-radius: 50%; /* Apply a circular border */
    object-fit: cover;
    border: 5px solid black; /* Add a solid black border */
    margin: 0 20px 20px 20px;
  }
  
  .profile-image img:hover {
    border-color: #ff4d4d; 
  }

  .profile-stats {
    grid-area: stats;
    /* border: 2px solid black; */

  }

  ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; /* Align items vertically in the center */
  }

  .profile-stats li {
    display: flex; 
    flex-direction: column;
    text-align: center; 
    margin-top: 5px; /* Add some spacing between stats and their values*/
  }

  .profile-stat-count {
  font-weight: bold;
  font-size: 1.2em; 
}

  .profile-bio {
    grid-area: bio;
    /* border: 2px solid black; */

  }

  .profile-bio p {
    display: flex;
    flex-direction: column; 
  }

  .profile-real-name {
    font-weight: bold;
    font-size: 1.2em; 
    margin-bottom: 3px; 
  }

  .profile-user-settings {
    grid-area: settings;
    margin: 0px 30px 0px 20px; /* Added this margin so that the buttons don't touch the sides so much */
    /* border: 2px solid black; */
  }

 /* Now I want to form another grid within the profile to space the buttons appropriately */

 .profile-user-settings {
    display: grid;
    grid-template-columns: 42% 42% 15%; 
    justify-content: space-around;
  }
  
  .btn {
    width: 95%; 
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
  }
  

/* Now it is time to work on the images and videos in the instagram gallery */

.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
  /* grid-auto-flow: dense; */
}

.gallery-item {
  
  /* border: 2px solid black; */
  height: auto;
  position: relative;
   overflow: hidden; /*So that the rest of the gallery info doesn't overflow */
}


.gallery-image {

  object-fit: cover; 
  /* object-fit: contain; */
  aspect-ratio: 1;
  width: 100%;
  /* height: 100%; */
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.gallery-item:hover .gallery-image {
  opacity: 0.6; 
}


.gallery-item-info {
  opacity: 0; /* Initially hide the item info */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity 0.3s;
}

.gallery-item:hover .gallery-item-info {
  opacity: 1; /* Show the item info on hover */
}

.gallery-item-likes,
.gallery-item-comments {
  font-size: 2em; 
  margin: 10px; 
  font-weight: bold; 
}


.loader {
  border: 8px solid #f3f3f3; 
  border-top: 20px solid #3498db; 
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite; 
  position: relative;
  top: 90%; 
  left: 40%;
  transform: translate(-50%, -50%);

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 767px) {
  /* Adjustments for smaller screens */

  .profile {
    grid-template-rows: auto auto auto; 
    grid-template-areas:
      "image"
      "stats"
      "bio"
      "settings";
  }

  .profile-stats {
    grid-area: stats;
    margin-top: 10px; 
  }

  .profile-bio {
    grid-area: bio;
    margin-top: 10px; 
  }

  .profile-user-settings {
    grid-area: settings;
    margin-top: 10px; 
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

