/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}


.profile {
    font-size: 2em;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70% 15% 15%;
    grid-gap: 5px;
    grid-template-areas:
      "image stats stats"
      "bio bio bio"
      "settings settings settings";
    align-items: center;

    
  }
  
  .profile-image {
    grid-area: image;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    
  }

  .profile-image img {
    height: 70%;
    border-radius: 50%; /* Apply a circular border */
    object-fit: cover;
    border: 2px solid black; /* Add a solid black border */
    margin: 0 20px 20px 20px;
    /* align-items: center; 
    justify-content: center; */
  }
  

  .profile-stats {
    grid-area: stats;
    border: 2px solid black;

  }

  ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; /* Align items vertically in the center */
  }

  .profile-stats li {
    display: flex; 
    flex-direction: column;
    text-align: center; 
    margin-top: 5px; /* Add some spacing between stats and their values*/
  }

  .profile-stat-count {
  font-weight: bold;
  font-size: 1.2em; 
}

  .profile-bio {
    grid-area: bio;
    border: 2px solid black;

  }

  .profile-bio p {
    display: flex;
    flex-direction: column; 
  }

  .profile-real-name {
    font-weight: bold;
    font-size: 1.2em; 
    margin-bottom: 3px; 
  }

  .profile-user-settings {
    grid-area: settings;
    border: 2px solid black;
  }

  .profile .settings {
    grid-area: settings;
    /* Add a Flexbox container inside the "settings" row */
    /* display: flex; */
    align-items: center;
    justify-content: space-between; /* Adjust as needed */
  }

  /* profile-image
     profile-user-settings
     profile-stats
     profile-bio
    */